name: number_ticker
description: A simple number ticker for displaying changing number.
version: 0.0.1
author: Jiaqi Feng
repository: https://github.com/Livinglist/number_ticker
publish_to: https://pub.dev/

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

